<!--CONTENT ZONE-->
<section class="container page-center">
    <div class="connect-container">
        <div class="connect-title">
            <h3>Connexion</h3>
            <div class="connect-title--bottom"></div>
        </div>
        <p>Votre identifiant ou E-Mail</p>
        <input type="text" style="width: 340px;" placeholder="Identifiant...">
        <p>Votre mot de passe</p>
        <input type="password" style="width: 340px;" placeholder="Mot de passe...">
        <button class="btn-full btn--primary">Se connecter</button>
        <div class="connection-options">
            <div>
                <a href="/register" class="create-account">Pas encore inscrit ?</a>
            </div>
            <div style="text-align: right;">
                <label class="check--container">
                    <p>Se souvenir de moi</p>
                    <input type="checkbox">
                    <span class="checkmark"></span>
                  </label>
            </div>
        </div>
        
    </div>
</section>
<!--END OF CONTENT ZONE-->