<!--CONTENT ZONE-->
<section class="container">
    <section class="forum-container">
        <section class="forum-list">
            <div class="forum-categorie">
                <div class="forum-categorie--title">
                    <h3>Notre blog</h3>
                    <div class="connect-title--bottom"></div>
                </div>
                <div class="forum-categorie--content">
                    <table>
                        <tbody>
                            <tr>
                                <td>Actualité Jeu Vidéo</td>
                                <td style="text-align: center;">18 art.</td>
                                <td style="text-align: center;">
                                    “Tekken 7, Tier-List.”<br>
                                    Par Admin, User2 et User3
                                </td>
                                <td class="td--right">
                                    <button class="btn-border btn--primary" style="width: 280px; margin: 0 !important;">Le lire maintenant</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Actualité Jeu Vidéo</td>
                                <td style="text-align: center;">18 art.</td>
                                <td style="text-align: center;">
                                    “Tekken 7, Tier-List.”<br>
                                    Par Admin, User2 et User3
                                </td>
                                <td class="td--right">
                                    <button class="btn-border btn--primary" style="width: 280px; margin: 0 !important;">Le lire maintenant</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Actualité Jeu Vidéo</td>
                                <td style="text-align: center;">18 art.</td>
                                <td style="text-align: center;">
                                    “Tekken 7, Tier-List.”<br>
                                    Par Admin, User2 et User3
                                </td>
                                <td class="td--right">
                                    <button class="btn-border btn--primary" style="width: 280px; margin: 0 !important;">Le lire maintenant</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="forum-categorie">
                <div class="forum-categorie--title">
                    <h3>Notre blog</h3>
                    <div class="connect-title--bottom"></div>
                </div>
                <div class="forum-categorie--content">
                    <table>
                        <tbody>
                            <tr>
                                <td>Actualité Jeu Vidéo</td>
                                <td style="text-align: center;">18 art.</td>
                                <td style="text-align: center;">
                                    “Tekken 7, Tier-List.”<br>
                                    Par Admin, User2 et User3
                                </td>
                                <td class="td--right">
                                    <button class="btn-border btn--primary" style="width: 280px; margin: 0 !important;">Le lire maintenant</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Actualité Jeu Vidéo</td>
                                <td style="text-align: center;">18 art.</td>
                                <td style="text-align: center;">
                                    “Tekken 7, Tier-List.”<br>
                                    Par Admin, User2 et User3
                                </td>
                                <td class="td--right">
                                    <button class="btn-border btn--primary" style="width: 280px; margin: 0 !important;">Le lire maintenant</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Actualité Jeu Vidéo</td>
                                <td style="text-align: center;">18 art.</td>
                                <td style="text-align: center;">
                                    “Tekken 7, Tier-List.”<br>
                                    Par Admin, User2 et User3
                                </td>
                                <td class="td--right">
                                    <button class="btn-border btn--primary" style="width: 280px; margin: 0 !important;">Le lire maintenant</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="forum-categorie">
                <div class="forum-categorie--title">
                    <h3>Notre blog</h3>
                    <div class="connect-title--bottom"></div>
                </div>
                <div class="forum-categorie--content">
                    <table>
                        <tbody>
                            <tr>
                                <td>Actualité Jeu Vidéo</td>
                                <td style="text-align: center;">18 art.</td>
                                <td style="text-align: center;">
                                    “Tekken 7, Tier-List.”<br>
                                    Par Admin, User2 et User3
                                </td>
                                <td class="td--right">
                                    <button class="btn-border btn--primary" style="width: 280px; margin: 0 !important;">Le lire maintenant</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Actualité Jeu Vidéo</td>
                                <td style="text-align: center;">18 art.</td>
                                <td style="text-align: center;">
                                    “Tekken 7, Tier-List.”<br>
                                    Par Admin, User2 et User3
                                </td>
                                <td class="td--right">
                                    <button class="btn-border btn--primary" style="width: 280px; margin: 0 !important;">Le lire maintenant</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Actualité Jeu Vidéo</td>
                                <td style="text-align: center;">18 art.</td>
                                <td style="text-align: center;">
                                    “Tekken 7, Tier-List.”<br>
                                    Par Admin, User2 et User3
                                </td>
                                <td class="td--right">
                                    <button class="btn-border btn--primary" style="width: 280px; margin: 0 !important;">Le lire maintenant</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        <section class="forum-other">
            <div class="forum-card">
                <h2>Pas encore inscrit ?</h2>
                <p>Faite le maintenant, et commentez les différents poste de notre Forum !</p>
                <button class="btn-full btn--primary" style="width: 280px;">Inscrivez-vous maintenant !</button>
            </div>
            <h3>Notre blog</h3>
            <div class="connect-title--bottom"></div>
            <div class="forum-card" style="margin-top: 20px;">
                <h3>Mise à jour du XX/XX/XX</h3>
                <p>Écrit par Admin, User2 et User3.</p>
                <button class="btn-full btn--primary" style="width: 280px;">Le lire maintenant</button>
            </div>
            <div class="forum-card" style="margin-top: 20px;">
                <h3>Mise à jour du XX/XX/XX</h3>
                <p>Écrit par Admin, User2 et User3.</p>
                <button class="btn-full btn--primary" style="width: 280px;">Le lire maintenant</button>
            </div>
            <div class="forum-card" style="margin-top: 20px;">
                <h3>Mise à jour du XX/XX/XX</h3>
                <p>Écrit par Admin, User2 et User3.</p>
                <button class="btn-full btn--primary" style="width: 280px;">Le lire maintenant</button>
            </div>
            <div class="forum-card" style="margin-top: 20px;">
                <h3>Mise à jour du XX/XX/XX</h3>
                <p>Écrit par Admin, User2 et User3.</p>
                <button class="btn-full btn--primary" style="width: 280px;">Le lire maintenant</button>
            </div>
            <div class="forum-card" style="margin-top: 20px;">
                <h3>Mise à jour du XX/XX/XX</h3>
                <p>Écrit par Admin, User2 et User3.</p>
                <button class="btn-full btn--primary" style="width: 280px;">Le lire maintenant</button>
            </div>
            <div class="forum-card" style="margin-top: 20px;">
                <h3>Mise à jour du XX/XX/XX</h3>
                <p>Écrit par Admin, User2 et User3.</p>
                <button class="btn-full btn--primary" style="width: 280px;">Le lire maintenant</button>
            </div>
        </section>
    </section>
</section>
<!--END OF CONTENT ZONE-->