<!--CONTENT ZONE-->
<section class="container">
    <section class="forum-container">
        <section class="forum-list">
            <div class="forum-card" style="width: 90%; margin: 30px;">
                <div style="display: flex; justify-content: end;">
                    <button class="btn-border btn--primary" style="margin-right: 10px;">Répondre</button>
                    <button class="btn-full btn--primary" style="margin-right: 10px;">Supprimer</button>
                </div>
                <h3>Tekken 7, Tier-List.</h3>
                <div class="connect-title--bottom"></div>
                <div style="display: flex; align-items: center;"><h3>Admin</h3> <p style="margin-left: 15px;">Le 00/00/1970 à 00h00.</p></div>
                <div class="connect-title--bottom"></div>
                <br>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Donec ultrices tincidunt arcu non. Morbi leo urna molestie at. Augue ut lectus arcu bibendum at varius vel. Elementum tempus egestas sed sed risus pretium. Aliquam ut porttitor leo a diam sollicitudin tempor. Tellus cras adipiscing enim eu turpis. Pharetra magna ac placerat vestibulum lectus mauris ultrices eros. Pretium fusce id velit ut tortor pretium viverra. Diam vulputate ut pharetra sit amet aliquam. Blandit volutpat maecenas volutpat blandit. Est velit egestas dui id ornare arcu odio. Sit amet purus gravida quis blandit. Tellus mauris a diam maecenas sed enim ut sem. At quis risus sed vulputate. Etiam tempor orci eu lobortis elementum nibh tellus molestie. Purus ut faucibus pulvinar elementum integer. Massa massa ultricies mi quis hendrerit dolor magna eget.</p>
            </div>
            <div class="forum-card" style="width: 90%; margin: 30px;">
                <div style="display: flex; justify-content: end;">
                    <button class="btn-border btn--primary" style="margin-right: 10px;">Répondre</button>
                    <button class="btn-full btn--primary" style="margin-right: 10px;">Supprimer</button>
                </div>
                <div style="display: flex; align-items: center;"><h3>Admin</h3> <p style="margin-left: 15px;">Le 00/00/1970 à 00h00.</p></div>
                <div class="connect-title--bottom"></div>
                <br>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Donec ultrices tincidunt arcu non. Morbi leo urna molestie at. Augue ut lectus arcu bibendum at varius vel. Elementum tempus egestas sed sed risus pretium. Aliquam ut porttitor leo a diam sollicitudin tempor. Tellus cras adipiscing enim eu turpis. Pharetra magna ac placerat vestibulum lectus mauris ultrices eros. Pretium fusce id velit ut tortor pretium viverra. Diam vulputate ut pharetra sit amet aliquam. Blandit volutpat maecenas volutpat blandit. Est velit egestas dui id ornare arcu odio. Sit amet purus gravida quis blandit. Tellus mauris a diam maecenas sed enim ut sem. At quis risus sed vulputate. Etiam tempor orci eu lobortis elementum nibh tellus molestie. Purus ut faucibus pulvinar elementum integer. Massa massa ultricies mi quis hendrerit dolor magna eget.</p>
            </div>
            <div class="forum-card" style="width: 90%; margin: 30px;">
                <div style="display: flex; justify-content: end;">
                    <button class="btn-border btn--primary" style="margin-right: 10px;">Répondre</button>
                    <button class="btn-full btn--primary" style="margin-right: 10px;">Supprimer</button>
                </div>
                <div style="display: flex; align-items: center;"><h3>Admin</h3> <p style="margin-left: 15px;">Le 00/00/1970 à 00h00.</p></div>
                <div class="connect-title--bottom"></div>
                <br>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Donec ultrices tincidunt arcu non. Morbi leo urna molestie at. Augue ut lectus arcu bibendum at varius vel. Elementum tempus egestas sed sed risus pretium. Aliquam ut porttitor leo a diam sollicitudin tempor. Tellus cras adipiscing enim eu turpis. Pharetra magna ac placerat vestibulum lectus mauris ultrices eros. Pretium fusce id velit ut tortor pretium viverra. Diam vulputate ut pharetra sit amet aliquam. Blandit volutpat maecenas volutpat blandit. Est velit egestas dui id ornare arcu odio. Sit amet purus gravida quis blandit. Tellus mauris a diam maecenas sed enim ut sem. At quis risus sed vulputate. Etiam tempor orci eu lobortis elementum nibh tellus molestie. Purus ut faucibus pulvinar elementum integer. Massa massa ultricies mi quis hendrerit dolor magna eget.</p>
            </div>
            <div class="forum-card" style="width: 90%; margin: 30px;">
                <div style="display: flex; justify-content: end;">
                    <button class="btn-border btn--primary" style="margin-right: 10px;">Répondre</button>
                    <button class="btn-full btn--primary" style="margin-right: 10px;">Supprimer</button>
                </div>
                <div style="display: flex; align-items: center;"><h3>Admin</h3> <p style="margin-left: 15px;">Le 00/00/1970 à 00h00.</p></div>
                <div class="connect-title--bottom"></div>
                <br>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Donec ultrices tincidunt arcu non. Morbi leo urna molestie at. Augue ut lectus arcu bibendum at varius vel. Elementum tempus egestas sed sed risus pretium. Aliquam ut porttitor leo a diam sollicitudin tempor. Tellus cras adipiscing enim eu turpis. Pharetra magna ac placerat vestibulum lectus mauris ultrices eros. Pretium fusce id velit ut tortor pretium viverra. Diam vulputate ut pharetra sit amet aliquam. Blandit volutpat maecenas volutpat blandit. Est velit egestas dui id ornare arcu odio. Sit amet purus gravida quis blandit. Tellus mauris a diam maecenas sed enim ut sem. At quis risus sed vulputate. Etiam tempor orci eu lobortis elementum nibh tellus molestie. Purus ut faucibus pulvinar elementum integer. Massa massa ultricies mi quis hendrerit dolor magna eget.</p>
            </div>
            <div class="forum-card" style="width: 90%; margin: 30px;">
                <div style="display: flex; justify-content: end;">
                    <button class="btn-border btn--primary" style="margin-right: 10px;">Répondre</button>
                    <button class="btn-full btn--primary" style="margin-right: 10px;">Supprimer</button>
                </div>
                <div style="display: flex; align-items: center;"><h3>Admin</h3> <p style="margin-left: 15px;">Le 00/00/1970 à 00h00.</p></div>
                <div class="connect-title--bottom"></div>
                <br>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Donec ultrices tincidunt arcu non. Morbi leo urna molestie at. Augue ut lectus arcu bibendum at varius vel. Elementum tempus egestas sed sed risus pretium. Aliquam ut porttitor leo a diam sollicitudin tempor. Tellus cras adipiscing enim eu turpis. Pharetra magna ac placerat vestibulum lectus mauris ultrices eros. Pretium fusce id velit ut tortor pretium viverra. Diam vulputate ut pharetra sit amet aliquam. Blandit volutpat maecenas volutpat blandit. Est velit egestas dui id ornare arcu odio. Sit amet purus gravida quis blandit. Tellus mauris a diam maecenas sed enim ut sem. At quis risus sed vulputate. Etiam tempor orci eu lobortis elementum nibh tellus molestie. Purus ut faucibus pulvinar elementum integer. Massa massa ultricies mi quis hendrerit dolor magna eget.</p>
            </div>
        </section>
        <section class="forum-other">
            <div class="forum-card">
                <h2>Pas encore inscrit ?</h2>
                <p>Faite le maintenant, et commentez les différents poste de notre Forum !</p>
                <button class="btn-full btn--primary" style="width: 280px;">Inscrivez-vous maintenant !</button>
            </div>
            <h3>Notre blog</h3>
            <div class="connect-title--bottom"></div>
            <div class="forum-card" style="margin-top: 20px;">
                <h3>Mise à jour du XX/XX/XX</h3>
                <p>Écrit par Admin, User2 et User3.</p>
                <button class="btn-full btn--primary" style="width: 280px;">Le lire maintenant</button>
            </div>
            <div class="forum-card" style="margin-top: 20px;">
                <h3>Mise à jour du XX/XX/XX</h3>
                <p>Écrit par Admin, User2 et User3.</p>
                <button class="btn-full btn--primary" style="width: 280px;">Le lire maintenant</button>
            </div>
            <div class="forum-card" style="margin-top: 20px;">
                <h3>Mise à jour du XX/XX/XX</h3>
                <p>Écrit par Admin, User2 et User3.</p>
                <button class="btn-full btn--primary" style="width: 280px;">Le lire maintenant</button>
            </div>
            <div class="forum-card" style="margin-top: 20px;">
                <h3>Mise à jour du XX/XX/XX</h3>
                <p>Écrit par Admin, User2 et User3.</p>
                <button class="btn-full btn--primary" style="width: 280px;">Le lire maintenant</button>
            </div>
            <div class="forum-card" style="margin-top: 20px;">
                <h3>Mise à jour du XX/XX/XX</h3>
                <p>Écrit par Admin, User2 et User3.</p>
                <button class="btn-full btn--primary" style="width: 280px;">Le lire maintenant</button>
            </div>
            <div class="forum-card" style="margin-top: 20px;">
                <h3>Mise à jour du XX/XX/XX</h3>
                <p>Écrit par Admin, User2 et User3.</p>
                <button class="btn-full btn--primary" style="width: 280px;">Le lire maintenant</button>
            </div>
        </section>
    </section>
</section>
<!--END OF CONTENT ZONE-->