/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
    background: #51404F;
    color: #FFF;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.hide {
    display: none !important;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #CA242A;
    margin: 20px 0;
}
h2 {
    font-size: 2rem;
    font-weight: 700;
    color: #CA242A;
    margin: 20px 0;
}
h3 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #CA242A;
    margin: 20px 0;
}
h4 {
    font-size: 1.2rem;
    font-weight: 700;
    color: #CA242A;
    margin: 20px 0;
}
h5 {
    font-size: 1rem;
    font-weight: 700;
    color: #CA242A;
    margin: 20px 0;
}
h6 {
    font-size: 0.8rem;
    font-weight: 700;
    color: #CA242A;
    margin: 20px 0;
}

a, a:link, a:visited {
    color: #CA242A;
    text-decoration: none;
}

input[type=text], input[type=password], input[type=email], input[type=number], input[type=tel], input[type=date], input[type=time], input[type=datetime-local], input[type=month], input[type=week], input[type=search], input[type=url], input[type=color]{
    width: 100%;

    padding: 20px;

    border-radius: 15px;
    border: none;

    -webkit-box-shadow: inset 0px 0px 20px 5px rgba(0,0,0,0.25); 
    box-shadow: inset 0px 0px 20px 5px rgba(0,0,0,0.25);
}

table {
    border-collapse: collapse;
    width: 100%;
}
tr {
    background: #6A3B65;
    border: none;
}
tr:nth-child(even) {
    background: #6F2767;
}
td {
    margin: 0;
    padding: 15px;
}
.td--center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.td--right {
    display: flex;
    justify-content: right;
    align-items: end;
}


nav {
    display: grid;
    grid-template-columns: 240px auto 240px;
    grid-template-areas: "icon links user";

    z-index: 10;

    background: #51404F;

    height: 60px;
    width: 100%;

    overflow: hidden;

    -webkit-box-shadow: 0px 4px 32px 5px rgba(0,0,0,0.53); 
    box-shadow: 0px 4px 32px 5px rgba(0,0,0,0.53);

    position: sticky;
    top: 0;
}

.nav-icon {
    grid-area: icon;
}
.nav-links {
    grid-area: links;
}
.nav-user {
    grid-area: user;
}

.img-presentation {
    width: 100%;
    height: 400px;
}
.img-presentation--img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: 100% 0;
}
.nav-icon--monitor {
    height: 40px;
    margin: 10px;
}
.nav-icon--mobile {
    display: none;
    height: 40px;
    margin: 10px;
}
.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
ul.nav-list {
    list-style: none;
    display: flex;
    padding-inline-start: 0;
}
a.nav-link {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 20px;
    margin: 0px 15px;
}
a.active {
    background: #31252F;
}
.nav-user {
    display: flex;
    justify-content: end;
    align-items: center;
}
.nav-connect {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 20px;
    margin: 0px 15px;
}
.nav-connect:visited, .nav-connect:link {
    color: white;
}
.nav-burger {
    display: none;

    width: 50px;
    height: 50px;

    margin: 5px;

    background: none;
    border: none;

    color: white;
    font-size: 40px;
}
.nav-close {
    display: none;
}
.nav-link-mobile {
    display: none;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 20px 15px;
    margin: 0;
    width: calc(100% - 30px);
}

footer {
    display: grid;
    grid-template-columns: auto 240px;

    height: 60px;
    width: 100%;

    background: #51404F;

    overflow: hidden;

    -webkit-box-shadow: 0px -4px 32px 5px rgba(0,0,0,0.53); 
    box-shadow: 0px -4px 32px 5px rgba(0,0,0,0.53);

    color: #FFF;
}

.footer-copyright {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 20px;
}

.container {
    min-height: calc(100vh - 100px);
}

.market-present {
    display: grid;
    grid-template-columns: 50% 50%;
}
.market-text {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.btn-full {
    padding: 15px 40px;
    border-radius: 15px;
    border: none;

    font-size: 16px;

    margin-top: 20px;

    color: #000 !important;
    cursor: pointer;
}

.btn-border {
    background: #0000 !important;
    
    padding: 15px 40px;

    border: 3px solid #FFF;
    border-radius: 15px;

    font-size: 16px;

    margin-top: 20px;
    cursor: pointer;
}

.btn--primary {
    background: #D8C99B;
    border-color: #D8C99B;
    color: #D8C99B;
}

.btn--primary:hover {
    background: #ae9d68;
    border-color: #ae9d68;
}

.market-present--img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: 100% 0;
}

.market-pages {
    background: #B38AAE;
    padding: 30px;

    text-align: left;
}

.market-pages--buttons-list {
    display: flex;
    flex-wrap: wrap;
}

.market-pages--buttons {
    border: 3px dashed #B63FA8;
    border-radius: 10px;

    width: 85px;
    height: 85px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin: 10px;
    color: #B63FA8;
}
.market-pages--buttons:hover {
    color: #8c3081;
    border-color: #8c3081;
}

.market-pages--buttons--icon {
    font-size: 40px;
}

.market-pages--buttons--text {
    font-size: 16px;
}

a, a:link {
    text-decoration: none;
}

.market-games {
    padding: 30px;

    text-align: left;

    margin: 20px 0;
}

.market-games--list {
    display: flex;
    overflow-x: scroll;
}

.market-games--item {
    border-radius: 15px;

    background: #6A3B65;

    overflow: hidden;
    margin-right: 40px;

    min-width: 350px;
    max-width: 350px;
    height: 450px;
}

.market-games--item--img {
    width: 350px;
    height: 370px;
    object-fit: cover;
}

.market-games--item--access {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forum-container {
    display: grid;
    grid-template-columns: calc(100% - 340px) 340px;

    overflow-x: hidden;
}
.forum-other {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;

    height: calc(100vh - 100px);
    overflow-x: hidden;
    overflow-y: auto;
}
.forum-card {
    width: 280px; 
    background: #31252F;
    padding: 30px 20px;

    margin-top: 10px;

    border-radius: 15px;
}
.forum-list {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: calc(100vh - 40px);
    overflow-x: hidden;
    overflow-y: auto;
}
.forum-categorie {
    width: calc(100% - 80px);

    margin: 30px 20px;

    background: #31252F;

    height: 100%;

    border-radius: 15px;
}
.forum-categorie--title{
    padding: 10px 20px;
}
.forum-categorie--content {
    width: 100%;
}

@media screen and (max-width: 1100px) {
    .img-presentation {
        display: none;
    }
    nav {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas: "icon user";

        overflow: visible;
    }
    .nav-connect {
        display: none;
    }
    .nav-burger {
        display: block;
    }
    .nav-links {
        display: none;
    }
    .nav-links--open {
        position: absolute;

        display: block !important;

        top: 0;
        right: 0;

        width: 60%;
        height: 100vh;
        background: #51404F;

        justify-content: start;
        align-items: start;
        
        flex-direction: column;

        -webkit-box-shadow: -4px 0px 25px 5px rgba(0,0,0,0.52); 
        box-shadow: -4px 0px 25px 5px rgba(0,0,0,0.52);
    }
    ul.nav-list {
        display: block !important;
        width: 100%;
    }
    a.nav-link {
        display: block;
        padding: 20px 15px;
        margin: 0;
        width: calc(100% - 30px);
    }
    .nav-close {
        display: flex;
        justify-content: end;

        width: 100%;
    }
    .nav-close--button {
        width: 60px;
        height: 50px;

        margin: 5px;

        background: none;
        border: none;

        color: white;
        font-size: 40px;
    }
    .nav-link-mobile {
        display: block;
    }
    footer {
        display: block;
    }
    .footer-copyright {
        height: 60px;
    }
    .footer-banner {
        display: none;
    }
    .market-present {
        display: block;
    }
    .market-img {
        display: none;
    }
    .forum-container {
        display: block;
    }
    .forum-other {
        display: none;
    }
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #31252F;
    border-radius: 15px;
}

::-webkit-scrollbar-thumb {
    background: #6F2767;
    border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
    background: #96358b; 
}
.page-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.connect-container {
    width: 400px;
    margin: 40px 0;
    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background: #31252F;

    border-radius: 15px;
}
.connect-title {
    width: 100%;
    text-align: left;
}
.connect-title--bottom {
    width: 80px;
    height: 4px;
    background-color: #CA242A;

    margin-top: -8px;
}
.connection-options {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    font-size: 12px;

    margin-top: 25px;
}

.check--container {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 12px;
    margin-right: 25px;
}

.check--container input[type=checkbox] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: -3px;
    right: -25px;
    height: 20px;
    width: 20px;
    background-color: #eee;

    border-radius: 5px;

    -webkit-box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.25); 
    box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.25);
}

.check--container:hover input[type=checkbox] ~ .checkmark {
    background-color: #FFF;
}


.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.check--container input[type=checkbox]:checked ~ .checkmark:after {
    display: block;
}

.check--container .checkmark:after {
    left: 8px;
    top: 4px;
    width: 3px;
    height: 7px;
    border: solid black;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.check--container > p {
    margin: 0;
}