<!--CONTENT ZONE-->
<section class="container">
    <section class="market-present">
        <div class="market-text">
            <h2>DuelHub, une nouvelle experience pour les joueurs de jeu de combat !</h2>
            <p>Découvrez une communauté active et prête à vous aider, un wiki complet est mis à jour régulièrement, mais aussi, des fonctionnalités exclusives !</p>
            <button class="btn-full btn--primary">Rejoignez-nous maintenant !</button>
        </div>
        <div class="market-img">
            <img src="../../assets/imgs/chart/3d_duelhub_logo.png"  class="market-present--img">
        </div>
    </section>
    <section class="market-pages">
        <div class="market-pages--text">
            <h2>DuelHub, une nouvelle experience pour les joueurs de jeu de combat !</h2>
            <p>
                Il n’est pas nécessaire d’avoir un compte pour naviguer sur DuelHub !<br>
                Accédez au WIKI et au FORUM sans vous connecter à un compte !<br>
                <br>
                Si vous souhaitez faire plus que naviguer, il sera nécessaire de s’inscrire sur le site.
            </p>
        </div>
        <div class="market-pages--buttons-list">
            <a href="#" class="market-pages--buttons">
                <div class="market-pages--buttons--icon"><fa-icon [icon]="faBook"></fa-icon></div>
                <div class="market-pages--buttons--text">WIKI</div>
            </a>
            <a href="#" class="market-pages--buttons">
                <div class="market-pages--buttons--icon"><fa-icon [icon]="faUsersLine"></fa-icon></div>
                <div class="market-pages--buttons--text">WIKI</div>
            </a>
        </div>
    </section>
    <section class="market-games">
        <div class="market-pages--text">
            <h2>DuelHub, une nouvelle experience pour les joueurs de jeu de combat !</h2>
            <p>
                Il n’est pas nécessaire d’avoir un compte pour naviguer sur DuelHub !<br>
                Accédez au WIKI et au FORUM sans vous connecter à un compte !<br>
                <br>
                Si vous souhaitez faire plus que naviguer, il sera nécessaire de s’inscrire sur le site.
            </p>
        </div>
        <div class="market-games--list">
            <div *ngFor="let game of popularGames">
                <div class="market-games--item">
                    <img [src]="_api.cdnUrl + '/' + game.coverSRC" class="market-games--item--img">
                    <div class="market-games--item--access">
                        <button class="btn-full btn--primary">Rejoignez-nous maintenant !</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<!-- END CONTENT ZONE-->