<!--CONTENT ZONE-->
<section class="container page-center">
    <div class="connect-container">
        <div class="connect-title">
            <h3>Inscription</h3>
            <div class="connect-title--bottom"></div>
        </div>
        <p>Votre identifiant</p>
        <input type="text" style="width: 340px;" placeholder="Identifiant...">
        <p>Votre E-Mail</p>
        <input type="email" style="width: 340px;" placeholder="E-Mail@...">
        <p>Votre mot de passe</p>
        <input type="password" style="width: 340px;" placeholder="Mot de passe...">
        <p>Confirmer le mot de passe</p>
        <input type="password" style="width: 340px;" placeholder="Mot de passe...">
        <button class="btn-full btn--primary">S'inscrire</button>
        <div style="margin-top: 15px;">
            <a href="/register" class="create-account">Pas encore inscrit ?</a>
        </div>
        
    </div>
</section>
<!--END OF CONTENT ZONE-->